:root {
	/*********************Colors*********************/
	--colorEkhCyan: hsl(194, 71%, 42%);
	--colorEkhMagenta:  hsl(334, 74%, 44%);
		/*********************BrightTheme*********************/
		--colorEkhLightestgray:  hsl(0, 0%, 94%);
		--colorEkhLightergray:  hsl(0, 0%, 88%);
		--colorEkhLightgray:  hsl(0, 0%, 81%);
		--colorEkhGray:  hsl(0, 0%, 75%);
		--colorEkhDarkgray: hsl(0, 0%, 68%);
		--colorEkhDarkergray: hsl(0, 0%, 62%);
		--colorEkhDarkestgray: hsl(0, 0%, 55%);
}
@font-face{
    font-family: VAGrounded;
    src: url("../Fonts/VAG_Rounded_Regular.ttf"); 
}

* {
	padding: 0;
	margin: 0;
}

html {
	scroll-behavior: smooth;
}

body {
	background-color: var(--colorEkhLightergray);
	/*
	font-family: monospace, 'Courier New';
	*/
	font-family: VAGrounded;
}
body .cloaked {
	display: none;
}
body .hidden {
	visibility: hidden;
}

.mainContainer {
	overflow: hidden;
	margin: 1vh;
	height: 98vh;
	display: grid;
	grid-template-rows: min-content auto min-content;
	grid-template-areas:
	'header'
	'tabContent'
	'footer';
}
.mainContainer > * {
	border-radius: 1vh;
}
.osk {
	display: grid;
	grid-template-columns: repeat(10, 1fr);
}

.header,
.footer {
	background-color: var(--colorEkhLightestgray);
	border: 1px solid var(--colorEkhGray);
	display: grid;
	grid-auto-flow: column;
	/*
	grid-template-columns: min-content min-content;
	*/
}
.header {
	grid-area: header;
}
.header .active {
	background-color: var(--colorEkhCyan);
	color: var(--colorEkhLightestgray);
}
.header > span {
	/*
	font-size: 1.5rem;
	*/
	font-style: italic;
    font-weight: bold;
    font-size: 1.1rem;
	padding: 1rem;
	white-space: nowrap;
	cursor: pointer;
	text-align: center;
}
.header > span:not(.active):hover {
	background-color: var(--colorEkhLightergray);
}

.tabContent {
	background-color: var(--colorEkhGray);
	overflow: hidden;
	grid-area: tabContent;
	margin: 1vh 0;
	display: grid;
	/*
	align-items: center;
	justify-items: center;
	*/
}
.tabContent:not(.active) {
	visibility: hidden;
}

.notizen {
	margin: 1vh;
	resize: none;
}

.footer {
	grid-area: footer;
	grid-template-columns: repeat(4, min-content);
	align-items: center;
}
.connectionStatusText {
	font-style: italic;
    font-weight: bold;
    font-size: 1.1rem;
	margin-right: .3rem;
}
.connectionStatusIcon {
	color: var(--colorEkhCyan);
	font-style: normal;
    font-weight: bold;
    font-size: 1.1rem;
	animation: spin 1s linear infinite;
	-webkit-animation: spin 1s linear infinite;
}
.connectionStatusIcon.connected {
	color: green;
	animation: unset;
	-webkit-animation: unset;
}
.connectionStatusDate {
	white-space: nowrap;
	font-style: italic;
    font-weight: bold;
	margin-left: .3rem;
}


/*SpinIcon while downloading data*/
.loaderText {
	align-self: center;
	justify-self: center;
}
.loaderIcon {
	/*
	position: relative;
	top: 45%;
	left: 45%;
	*/
	align-self: center;
	justify-self: center;
	border: 1.5vw solid rgb(0,0,0,0);
	border-radius: 50%;
	border-top: 1.5vw solid var(--colorEkhCyan);
	border-bottom: 1.5vw solid var(--colorEkhCyan);
	width: 10vw;
	height: 10vw;
	animation: spin 4s linear infinite;
	-webkit-animation: spin 4s linear infinite;
}
@-webkit-keyframes spin {
	0% {-webkit-transform: rotate(0);}
	100% {-webkit-transform: rotate(1turn);}
}
@keyframes spin {
	0% {transform: rotate(0deg);}
	100% {transform: rotate(1turn);}
}