
:root {
	/*Colors*/
	--magenta: hsl(334, 74%, 44%);
	--cyan: hsl(194, 74%, 44%);
	--purple: hsl(264, 74%, 44%);
	--yellow: hsl(50, 74%, 44%);
	--green: hsl(120, 74%, 44%);
	--darkestGrey: hsl(249, 10%, 13%);
	--darkerGrey: hsl(249, 10%, 18%);
	--darkGrey: hsl(249, 10%, 23%);
	--grey: hsl(249, 10%, 28%);
	--lightGrey: hsl(249, 10%, 33%);
	--lighterGrey: hsl(249, 10%, 38%);
	--lightestGrey: hsl(249, 10%, 43%);
	--whiteGrey: hsl(0, 0%, 95%);
	--zaehlerBg: hsl(0, 0%, 88%);
	--bgColor: hsl(0, 0%, 75%);
	
	--iconSize: 40px;
	/*
    box-sizing: border-box;
	*/

	/*Sizes*/
	--aspectRatio: 16/9;
	--maxWidth: 100vw;
	--maxHeight: 85vh;
	--width: min(var(--maxWidth), calc(var(--maxHeight) * var(--aspectRatio)));

	--margin: .5rem;
	--borderRadius: .5em;
	--padding: 1rem;

}
/*
*,
::before,
::after {
    box-sizing: inherit;
}

html {
    scroll-behavior: smooth;
}
*/
body {
    background-color: var(--zaehlerBg);
    font-family: monospace, 'Courier New';
	margin: var(--margin);
	display: grid;
	justify-items: center;
	align-items: center;
	grid-template-areas:
	'header'
	'main'
	'footer';
	grid-template-rows: min-content auto min-content;
	cursor: default;
}
body[cursorStyle] * {
	cursor: inherit;
}
body > * {
	width: var(--width);
	border: 1px solid var(--bgColor);
	border-radius: var(--borderRadius);
	background-color: var(--whiteGrey);
}

.modalBg {
	grid-row: 1 / -1;
	grid-column: 1 / -1;
	width: 100%;
	height: 100%;
	z-index: 1;
	background-color: hsla(0, 0%, 0%, 0.4);
	display: grid;
	justify-items: center;
	align-items: center;
}
.modalContent {
	display: grid;
	justify-items: center;
	align-items: center;
	grid-template-areas:
	'modalHeader'
	'modalBody'
	'modalFooter';
	grid-template-rows: min-content auto min-content;
}
.modalContent > * {
	width: 100%;
	display: grid;
}
.modalHeader {
	grid-area: modalHeader;
	color: var(--whiteGrey);
	background-color: var(--cyan);
	grid-auto-flow: column;
	align-items: center;
	justify-items: center;
}
.modalContent.alarms > .modalHeader,
.modalContent.alarms > .modalFooter {
	background-color: var(--magenta);
}
.modalBody {
	grid-area: modalBody;
	background-color: var(--whiteGrey);
	align-items: center;
	justify-items: center;
}
.divRtosVar {
	display: grid;
	grid-template-columns: repeat(3, auto);
}
.divInpWert {
	display: grid;
	grid-template-columns: repeat(4, auto);
}
.divInpWert [type="range"] {
	grid-column: span 2;

}
.pinInputContainer {
	display: grid;
	align-items: center;
	justify-items: center;
	grid-auto-flow: column;
}
.modalFooter {
	grid-area: modalFooter;
	color: var(--whiteGrey);
	background-color: var(--cyan);
	grid-auto-flow: column;
}

.header {
	grid-area: header;
}
.header ul {
	list-style-type: none;
	display: grid;
	grid-auto-flow: column;
	margin: 0;
	padding: 0;
}
.tablink {
	padding: var(--padding);
}
.tablink:first-child {
	border-radius: var(--borderRadius) 0 0 var(--borderRadius);
}
.tablink:last-child {
	border-radius: 0 var(--borderRadius) var(--borderRadius) 0;
}
.tablink:hover {
	background-color: var(--zaehlerBg);
}
.tablink.active {
	background-color: hsl(194, 71%, 42%);
	color: var(--whiteGrey);
}

.content {
	aspect-ratio: var(--aspectRatio);
	margin: var(--margin) 0;
	grid-area: main;
	display: grid;
	justify-items: center;
	align-items: center;
	grid-template-areas: 'tabContent';
}
.tabcontent {
	grid-area: tabContent;
	width: 100%;
	height: 100%;
	display: grid;
	justify-items: center;
	align-items: center;
	background-color: var(--bgColor);
	border-radius: var(--borderRadius);
}
.container {
	width: 100%;/*1006px;/*1400px; <-ehemalige dimension #vimgArea*/
	height: 100%;/*660px;/*630px; <-ehemalige dimension #vimgArea*/
	border-radius: var(--borderRadius);
}
#vimgArea {
	position: relative;
}

.footer {
	grid-area: footer;
	display: grid;
	grid-auto-flow: column;
}

body:not([cursorStyle]) .lockStatus:not([cursorStyle]),
body:not([cursorStyle]) .close:not([cursorStyle]),
body:not([cursorStyle]) .tablink:not([cursorStyle]),
body:not([cursorStyle]) [type = "button"]:not([cursorStyle]) {
	cursor: pointer;
}

*:focus, *:focus-visible {
	outline-color: var(--cyan);
}

/*
.connectionStatusBar {
	height: 2rem;
	background-color: var(--bgColor);
	border-radius: .5em;
	padding: 0.5rem;
	color: black;
	font-size: 1.8vh;
	font-family: Arial;
}

[type="text"]:focus,
[type="password"]:focus {
  outline: solid 2.5px #1F94B9;
}

button:hover,
[type="button"]:hover {
  cursor: pointer;
}

button:disabled,
[type="button"]:disabled {
  cursor: default;
}

.connectingToMPCcontainer {
	position: absolute;
	top: 0;
	left: 0;
	height: 100%;
	width: 100%;
	background-color: var(--bgColor);
	z-index: 1000;
}

.loaderText {
	text-align: center;
}

#benachrichtigung {
	width: 100%;
	height: 1.7em;
    border: 1px solid #C0C0C0;
    border-radius: .5em;
    background-color: var(--whiteGrey);
	margin-top: 0.2em;
	margin-bottom: 0.2em;
	padding-top: 0.3em;
	overflow: hidden;
}

	#benachrichtigungText{
		width: 100%;
    	height: 100%;
		white-space: nowrap;
		padding-left: 10px;
	}

.tabcontent {
	grid-area: tabContent;
	width: 100%;
	height: 100%;
	background-color: var(--bgColor);
    border-radius: .5em;
}

.container {
    display: flex;
	border-radius: inherit;
	height: inherit;
	width: inherit;
	background-color: var(--bgColor);
}
	
	.sidebar {
		width: 0%;
		background-color: var(--zaehlerBg);
		border-radius: .5em;
		height: 85.6vh;
		font-family: sans-serif;
		font-size: 15px;
	}
	
	.hauptDisplay {
		background-color: inherit;
		border-radius: inherit;
		height: inherit;
		width: inherit;
	}
	
		.panelContent {
			height: inherit;
			width: inherit;
		}

			#DisplayCanvas {
				display: block;
				border-radius: .5em;
				background-color: inherit;
			}



.btn:hover, .pdf-btn:hover{
	background-color: hsl(194, 71%, 42%);
	color: var(--whiteGrey);
}

.btn:active, .pdf-btn:active{
	background-color: hsl(194, 71%, 42%);
	color: var(--whiteGrey);
	box-shadow: 4px 4px hsl(0, 0%, 40%);
	transform: translateY(2px);
}

.btn, .pdf-btn {
	cursor: pointer;
	position: inherit;
	height: 60px;
	border: 1px solid;
	border-radius: 3px;
	background-color: var(--whiteGrey);
	box-shadow: 2px 2px #666;
}

.btn {
	width: 60px;
}

.pdf-btn {
  position: static;
  width: 100px;
  opacity: 0.8;
  margin-bottom: 4px;
}
	


#buttonGroup {
	position:absolute;
	bottom: 1.5vh;
	right: 1.5vh;
	height: 200px;
	width: 200px;
    border: none;	
    transform: rotate(0deg);
}

	#btnUp{
		background: url(/Images/Up.png);
		left: 70px;
	}
	#btnUp:hover {
		background: url(/Images/Up_hover.png);
	}

	#btnDown {
		background: url(/Images/Down.png);
		bottom: 0px;
		left: 70px;
	}	
	#btnDown:hover {
		background: url(/Images/Down_hover.png);
	}
	
	#btnLeft{
		background: url(/Images/Left.png);
		top: 70px;
		left: 0px;
	}	
	#btnLeft:hover {
		background: url(/Images/Left_hover.png);
	}
	
	#btnRight{
		background: url(/Images/Right.png);
		top: 70px;
		right:0px;	
	}
	#btnRight:hover {
		background: url(/Images/Right_hover.png);
	}

	#btnEnter{
		background: url(/Images/Enter.png);
		top: 70px;
		left: 70px;
	}
	#btnEnter:hover {
		background: url(/Images/Enter_hover.png);
	}

#buttonGroupVisu{
	position:absolute;
	bottom: 5vh;
	right: 1.5vh;
	height: 200px;
	width: 200px;
    border: none;	
    transform: rotate(0deg);
}

	#btnUpVisu{
		background: url(/Images/Up.png);
		left: 70px;
	}
	#btnUpVisu:hover {
		background: url(/Images/Up_hover.png);
	}

	#btnDownVisu {
		background: url(/Images/Down.png);
		bottom: 0px;
		left: 70px;
	}	
	#btnDownVisu:hover {
		background: url(/Images/Down_hover.png);
	}
	
	#btnLeftVisu{
		background: url(/Images/Left.png);
		top: 70px;
		left: 0px;
	}	
	#btnLeftVisu:hover {
		background: url(/Images/Left_hover.png);
	}
	
	#btnRightVisu{
		background: url(/Images/Right.png);
		top: 70px;
		right:0px;	
	}
	#btnRightVisu:hover {
		background: url(/Images/Right_hover.png);
	}

	#btnEnterVisu{
		background: url(/Images/Enter.png);
		top: 70px;
		left: 70px;
	}
	#btnEnterVisu:hover {
		background: url(/Images/Enter_hover.png);
	}



#toolBtnGroup {
	position:absolute;
	bottom: 85vh;
	right: 1.5vh;
	width: 250px;
    border: none;	
    transform: rotate(0deg);
}
#btnHome {
	left: 0px;
	width: 120px;
	font-size: 16px;
	padding: 2px;
}

.loader {
	position: relative;
	top: 45%;
	left: 45%;
	border: 16px solid black;
	border-radius: 50%;
	border-top: 16px solid hsl(194, 71%, 42%);
	border-bottom: 16px solid hsl(194, 71%, 42%);
	width: 120px;
	height: 120px;
	-webkit-animation: spin 4s linear infinite;
	animation: spin 4s linear infinite;
}
*/




/*******************visu upgrade JW*******************/
.visuElement {
	position: absolute;
}
div.visuElement,
.faceplateBtn {
	width: var(--iconSize);
	aspect-ratio: 1;
}
input[type = "button"].visuElement {
	padding: 6px;
}
.hidden {
	visibility: hidden;
}
.displayNone {
	display: none;
}
.errorHighlighter {
	color: var(--magenta);
}
.HHalarmHighlighter,
.LLalarmHighlighter {
	background-color: red;
}
.HalarmHighlighter:not(.HHalarmHighlighter),
.LalarmHighlighter:not(.LLalarmHighlighter) {
	background-color: gold;
}
.led:not(.displayNone),
.switch:not(.displayNone) {
	display: grid;
	align-items: center;
	justify-items: center;
}
[rotation = "90"]:not([type = "button"]) {
	transform: rotate(90deg);
}
[rotation = "180"]:not([type = "button"]) {
	transform: rotate(180deg);
}
[rotation = "270"]:not([type = "button"]) {
	transform: rotate(270deg);
}
/*********************Animations*********************/
.animate[animation ~= "rotate"]:not([rotation]) {
	transform: rotate(90deg);
}
.animate[animation ~= "rotate"][rotation = "90"] {
	transform: rotate(180deg);
}
.animate[animation ~= "rotate"][rotation = "180"] {
	transform: rotate(270deg);
}
.animate[animation ~= "rotate"][rotation = "270"] {
	transform: rotate(0deg);
}
[animation ~= "show"]:not(.animate):not(.hidden) {
	visibility: hidden;
}
.animate[animation ~= "toggleIcon"] > .falseIcon {
	display: none;
}
[animation ~= "toggleIcon"]:not(.animate) > .trueIcon {
	display: none;
}
.animate[animation ~= "spin"] {
	animation: spin 2s linear infinite;
}
@keyframes spin {
	to {transform: rotate(1turn);}
}
.animate[animation ~= "blink"] {
	animation: blink 2s steps(4, start) infinite;
}
@keyframes blink {
	to {visibility: hidden;}
}
[animation = "flicker"]:not(.animate){
	display: none;
}
.animate[animation ~= "flicker"] {
	animation: flicker 3ms ease-in 200ms infinite alternate;
}
@keyframes flicker {
	0%   {transform: rotate(-1deg) scale(.75,.8);}
	20%  {transform: rotate(1deg) scale(.8,.8);}
	40%  {transform: rotate(-1deg) scale(.75,.8);}
	60%  {transform: rotate(1deg) scale(.8,.95);}
	80%  {transform: rotate(-2deg) scale(.75,.75);}
	100% {transform: rotate(1deg) scale(.8,.8);}
}
/*********************FlameStyle*********************/
.flameLayer {
	aspect-ratio: 1;
	bottom: 15%;
	position: absolute;
	border-bottom-right-radius: 50%;
	border-bottom-left-radius: 50%;
	border-top-left-radius: 50%;
	transform:rotate(-45deg);
}
.flameLayer[color="red"] {
	left: 15%;
	width: 70%;
	background:OrangeRed;
	box-shadow: 0 0 calc(.07*var(--iconSize)) calc(.06*var(--iconSize)) OrangeRed;    /*box-shadow akzeptiert keine [%] => umständliche berechnung!*/
}
.flameLayer[color="orange"] {
	left: 22%; 
	width: 56%;
	background:orange;
	box-shadow: 0 0 calc(.13*var(--iconSize)) calc(.06*var(--iconSize)) orange;   /*box-shadow akzeptiert keine [%] => umständliche berechnung!*/
}
.flameLayer[color="yellow"] {
	left: 29%; 
	width: 42%;
	background:gold;
	box-shadow: 0 0 calc(.13*var(--iconSize)) calc(.06*var(--iconSize)) gold;   /*box-shadow akzeptiert keine [%] => umständliche berechnung!*/
}
.flameLayer[color="white"] {
	left: 29%; 
	bottom: 10%;
	width: 42%;
	background:white;
	box-shadow: 0 0 calc(.13*var(--iconSize)) calc(.06*var(--iconSize)) white;   /*box-shadow akzeptiert keine [%] => umständliche berechnung!*/
}
.flameLayer[color="blue"] {
	left: 46%; 
	bottom: 10%;
	width: 4%;
	background:SlateBlue;
	opacity: 0.7;
	box-shadow: 0 0 calc(.13*var(--iconSize)) calc(.06*var(--iconSize)) SlateBlue;   /*box-shadow akzeptiert keine [%] => umständliche berechnung!*/
}  
/*******************24016 JW: cursor appearance start*******************/
[cursorStyle = "progress"] {
    cursor: progress;
}
[cursorStyle = "wait"] {
    cursor: wait;
}
[cursorStyle = "pointer"] {
    cursor: pointer;
}
[cursorStyle = "grab"] {
    cursor: grab;
}
[cursorStyle = "grabbing"] {
    cursor: grabbing;
}