/* {
  margin: 0;
  padding: 0;
}*/

.clr{
	clear: both;
}

.pdf-top-bar {
  background: #C0C0C0; /*rgb(192, 192, 192);*/
  font-size: 1rem;
  color: black;
  padding: 0.1rem;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: .5em .5em 0em 0em;
}

.pdf-btn {
  position: static;
  width: 100px;
  opacity: 0.8;
  border: 1px solid;
  box-shadow: 1px 1px #666 /*rgb(102, 102, 102); dark gray*/;
}


.page-info {
  margin-left: 1rem;
}

.zoom-info {
  margin-left: 1rem;
}

.pdf-error {
  background: #C31D64; /*EKH rot*/
  color: black;
  padding: 1rem;
}

.pdf-canvas-container {
    background: #C0C0C0; /*rgb(192, 192, 192);*/
    text-align: center;
	border-radius: 0em 0em .5em .5em;
}

.pdf-leftBtnGroup {
	position: fixed;
	top: 45%;
	left: 1%;
	width: 100px;
}

.pdf-rightBtnGroup {
	position: fixed;
	top: 45%;
	right: 1%;
	width: 100px;
}