/*******************upgrade JW*******************/
:root {  
	/*Colors*/
	--magenta: hsl(334, 74%, 44%);
	--cyan: hsl(194, 74%, 44%);
	--purple: hsl(264, 74%, 44%);
	--yellow: hsl(50, 74%, 44%);
	--green: hsl(120, 74%, 44%);
	--darkestGrey: hsl(249, 10%, 13%);
	--darkerGrey: hsl(249, 10%, 18%);
	--darkGrey: hsl(249, 10%, 23%);
	--grey: hsl(249, 10%, 28%);
	--lightGrey: hsl(249, 10%, 33%);
	--lighterGrey: hsl(249, 10%, 38%);
	--lightestGrey: hsl(249, 10%, 43%);
	--whiteGrey: hsl(0, 0%, 95%);
	/*
	*/
  }
.visuTxtElement {
	position: absolute;
}
input[type = "button"].visuTxtElement {
	padding: 6px;
}
.hidden {
	visibility: hidden;
}
.errorHighlighter {
	color: var(--magenta);
}

.animate[animation = "spin"] {
	animation: spin 2s linear infinite;
}

@keyframes spin {
	to {transform: rotate(1turn);}
}
  
/*******************24016 JW: cursor appearance start*******************/
[cursorStyle = "progress"] {
    cursor: progress;
}
[cursorStyle = "wait"] {
    cursor: wait;
}
[cursorStyle = "pointer"] {
    cursor: pointer;
}
[cursorStyle = "grab"] {
    cursor: grab;
}
[cursorStyle = "grabbing"] {
    cursor: grabbing;
}
/*******************24016 JW: cursor appearance end*********************/

h5 {				/*Für Sektorüberschriften Faceplate*/
	margin: 0px;
	margin-top: 1vw;/*5px;*/
	white-space: pre-line;
}

h6 {				/*Für Sektorüberschriften Faceplate*/
	margin: 0px;
	margin-top: 2px;
	white-space: pre-line;
}

#visualisierungDisplay {
	overflow-x: hidden; /*canvas ragt über png in x-richtung hinaus-> scroll-x unterdrücken*/
}
	
	#vbtnVirtualKeyboard {
		display: none;
		position: absolute;
		top: 10vh;
		right: 10vh;
		z-index: 1;
		cursor: pointer;
		height: 60px;
		width: 120px;
		border: 2px solid;
		border-radius: 3px;
		background-color: var(--whiteGrey); /*rgb(241, 241, 241); white gray*/
		box-shadow: 2px 2px #666 /*rgb(102, 102, 102); dark gray*/;
	}
	
	.btnToggleLock {
		font-size: 3vh;
		position: absolute;
		top: 10vh;
		right: 2vh;
		z-index: 1;
		cursor: pointer;
		height: 60px;
		width: 60px;
		border: 2px solid;
		border-radius: 3px;
		background-color: var(--whiteGrey); /*rgb(241, 241, 241); white gray*/
		box-shadow: 2px 2px #666 /*rgb(102, 102, 102); dark gray*/;
	}
	
	#btnUnlock {
		color: var(--magenta);
	}
	
	#btnLock {
		display: none;
		color: var(--cyan);
	}
	
	#btnUnlock:hover,
	#btnUnlock:active	{
		color: var(--whiteGrey);
		background-color: var(--magenta);
	}	
	
	#btnLock:hover,
	#btnLock:active	{
		color: var(--whiteGrey);
		background-color: var(--cyan);
	}
	
	#btnUnlock:active,
	#btnLock:active	{
		box-shadow: 4px 4px hsl(0, 0%, 40%);
		transform: translateY(2px);
	}
	
	#lblPin {
		display: inline-block;
		width: 50px;
		text-align: right;
	}
	.modalVisuBodyLine {
		margin: 5px;
	}
	
		/* Hiding the initial checkbox */
		#cbHidePin {
			visibility: hidden;
			width: auto;
			/*margin-left: 30px;
			margin-right: 20px;
			transform: scale(1.8);*/
		}
		
			#lblHidePin {
				display: block;
				position: relative;
				margin-left: 15px;
				margin-bottom: 15px;
				padding-left: 40px;
				padding-top: 2px;
				cursor: pointer;
			}      
		  
			/* Creating a custom checkbox based on demand */
			.checkmark {
				position: absolute;
				top: 0;
				left: 0;
				height: 23px;
				width: 23px;
				font-size: 2.5vh;
			}
			
			#lblHidePin input ~ .checkmark {
				border: 3px solid #939393;
				border-radius: 4px;
			}
			
			/* Specify the background color to be shown when hovering over checkbox */
			#lblHidePin:hover input ~ .checkmark {
				border: 3px solid #666;
			}
			
			/* Specify the background color to be shown when checkbox is active */
			#lblHidePin input:active ~ .checkmark {
				background-color: white;
			}
			
			/* Specify the background color to be shown when checkbox is checked */
			#lblHidePin input:checked ~ .checkmark {
				background-color: var(--cyan);
				border: none;
			}
			
			/* Checkmark to be shown in checkbox */
			/* It is not be shown when not checked */
			.checkmark:after {
				content: "\2713";
				display: none;
				position: absolute;
				color: white;
				font-weight: bold;
				left: 3px;
				/*top: -2px;*/
			}
			
			/* Display checkmark when checked */
				#lblHidePin input:checked ~ .checkmark:after {
				display: block;
			}
			
			/* Styling the checkmark using webkit */
			/* Rotated the rectangle by 45 degree and showing only two border to make it look like a tickmark */
			#lblHidePin .checkmark:after {
				/*left: 10px;
				bottom: 5px;
				width: 8px;
				height: 12px;
				border: solid white;
				border-width: 0 4px 4px 0;
				/*-webkit-transform: rotate(45deg);
				-ms-transform: rotate(45deg);
				transform: rotate(45deg);*/
			}    
		

	.vinsideWrapper
	{
		width: 1006px;/*1400px;/*100%;*/
		height: 660px;/*630px;*/
		position: relative;
		background-color: #C0C0C0; /*rgb(192, 192, 192);*/
		border-radius: .5em;
		/*border: 1px solid blue;*/
		left: 0px;
	}

		#vimgTarget {
			/*width: 100%;
			height: 100%;*/
			position: absolute;
			top: 0px;
			left: 0px;
			background-color: #C0C0C0; /*rgb(192, 192, 192);*/
			border-radius: .5em;
		}

		.vcoveringCanvas {
			/*width: 139.3%; /*ursprünglich auf width: 1400px dimensioniert; 1400/1006px = 139,3%*/
			/*height: 95.5%; /*ursprünglich auf height: 630px dimensioniert;  630/ 660px =  95,5%*/
			position: absolute;
			top: 0px;
			left: 0px;
			background-color: rgba(0, 0, 0, 0);
			border-radius: .5em;
			/*border: 1px solid red;*/
			/*box-shadow: 5px 5px 5px #888888;*/
		}

	.connectionStatusBar {
		position: absolute;
		bottom: 1.8vh;
		/*width: inherit;/*1400px;*/
		height: 2rem;
		background-color: rgb(192, 192, 192);
		border-radius: .5em;
		/*border: 1px solid green;*/
		padding: 0.5rem;
		color: black;
		font-size: 1.8vh;
		font-family: Arial;
	}

		/* The Modal (background) */

			/* Modal Content/Box */
		.modalContent {
			background-color: var(--whiteGrey); /*rgb(241, 241, 241); white gray*/
			margin: 10px; /* 15% from the top and centered */
			padding: 20px;
			border: 1px solid #C0C0C0; /*rgb(192, 192, 192);*/
			border-radius: .5em;
			width: 80%; /*20%; Could be more or less, depending on screen size */
		}
		.modalContent.alarms {
			width: 30%;
		}

		.modalHeader {
			background-color: var(--cyan);			
			font-weight: bold;
			padding: 2px 12px;
			border-radius: .5em;
			color: hsl(0, 0%, 95%);
			text-align:center;
		}
		.modalContent.alarms .modalHeader {
			background-color: var(--magenta);
		}

				span.close {
					color: var(--whiteGrey);
					float: right;
					font-size: 28px;
					font-weight: bold;
				}
				span.close:hover,
				span.close:focus {
					color: #C0C0C0;
					text-decoration: none;
					cursor: pointer;
				} 


			.modalBody {
				font-size: 16px;
				width: 100%; /* Full width */
				height: 100%; /* Full height */
			}

			.datepicker {
				z-index: 10 !important;
				width:auto;
			}
			
			#btnCopyClip {
				width: 200px;
				background-color:aquamarine;
			}
			
			
	/* Modal Pin/FP (background) */
	.modalBg {
		position: fixed;
		z-index: 1;
		width: 100%;
		height: 100%;
		overflow: auto; /* Enable scroll if needed */
		background-color: hsla(0, 0%, 0%, 0.4);
	}

		/* Pin/FP Content */
		#Pin-content {
			position: absolute;
			top: 1vh;
			right: 7vh;
			width: 330px;
		}
		
		.modalVisuContent {
			position: absolute;
			top: 8vh;
			background-color: var(--whiteGrey);
			margin: auto;
			padding: 0;
			border: 1px solid #888;
			width: 515px;   /*550px*/
			box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2),0 6px 20px 0 rgba(0,0,0,0.19);
			-webkit-animation-name: animatetop;
			-webkit-animation-duration: 0.4s;
			animation-name: animatetop;
			animation-duration: 0.4s
		}
		
		#wochenKalenderImVisuContent {
			width: auto;
			background-color: #E0E0E0;
		}
			
		
			.modalVisuContent button:hover {
				cursor: pointer;
			}

			.modalVisuContent button:disabled {
				cursor: default;
			}

		
			.modalVisuHeader {
				text-align: center;
				padding: 2px 16px;
				background-color: var(--cyan)/*#5cb85c*/;
				color: var(--whiteGrey);/* white;*/
			}
			
			
			#wochenKalenderImVisuBody {
				background-color: #E0E0E0;
			}

			
			.modalVisuBody {
				float: left;
				padding: 2px 13px;  
			}
			
				.fpSection {
					float: inherit;
				}
				
				.divRtosVar {
					float: inherit;
					padding-top: 1vw;
				}
				
				.modalVisuBody .lblName,
				.modalVisuBody .lblNameFaceplate {
					display: inline-block;
					float: inherit;
					width: 200px;
					text-align: right;
					margin-right: 5px;
					padding-top: 3px;
					white-space: pre-line;
				}
				
				.modalVisuBody .lblWert,
				.modalVisuBody .lblWertFaceplate,
				.modalVisuBody .lblUnit,
				.modalVisuBody .lblUnitFaceplate {
					display: inline-block;
					float: inherit;
					width: 70px;
					text-align: left;
					margin-left: 5px;
					padding-top: 3px;
				}
				
				.divInpWert {
					float: inherit;
					width: 205px;
				}

					.modalVisuBody input {
						width: 150px;/*205px;*/
						margin: 1px 0px;
						background-color: white;
					}
					
					.modalVisuBody input:focus {
						outline: none;
					}
					
					.modalVisuBody [type="range"] {
						-webkit-appearance: none;
						/*background: linear-gradient(to right, #82CFD0 0%, #82CFD0 50%, #fff 50%, #fff 100%);*/
						background: linear-gradient(to right, var(--cyan) 0%, var(--magenta) 50%, #E0E0E0 50%, #E0E0E0 100%);
						/*background: linear-gradient(to right, rgb(31, 148, 185) 0%, var(--magenta) 100%);*/
						/*background: linear-gradient(to right, var(--cyan) 0%, #3C92B8 10%, #578EB5 20%, #6F88B0 30%, #847FAA 40%, #9674A2 50%, #A66698 60%, #B2578D 70%, #BB4681 80%, #C13273 90%, var(--magenta) 100%);*/
						border: solid 1px #C0C0C0;
						border-radius: 12px;
						height: 8px;
						/*outline: none;*/
						transition: background 150ms ease-in;
					}
					
					/*Chrome/Chromium Styling Schieber des Sliders*/
					.modalVisuBody [type="range"]::-webkit-slider-thumb {
						-webkit-appearance: none;
						border: 1px solid #E0E0E0;
						height: 18px;
						width: 18px;
						border-radius: 9px;
						background: #2F88B1; /*#2F88B1 #5070A0 #71598F #92417E #B3296D*/
						cursor: pointer;
						transition: background 150ms ease-in;
						/*margin-top: -14px; /* You need to specify a margin in Chrome, but in Firefox and IE it is automatic */
						/*box-shadow: 1px 1px 1px #000000, 0px 0px 1px #0d0d0d; /* Add cool effects to your sliders! */						
					}
					
					.modalVisuBody [type="range"].quarter::-webkit-slider-thumb {
						background: #5070A0;
						transition: background 150ms ease-in;
					}
					
					.modalVisuBody [type="range"].half::-webkit-slider-thumb {
						background: #71598F;
						transition: background 150ms ease-in;
					}
					
					.modalVisuBody [type="range"].threequarter::-webkit-slider-thumb {
						background: #92417E;
						transition: background 150ms ease-in;
					}
					
					.modalVisuBody [type="range"].full::-webkit-slider-thumb {
						background: #B3296D;
						transition: background 150ms ease-in;
					}
					
					.modalVisuBody [type="range"].disabled::-webkit-slider-thumb {
						background: #C0C0C0;
						/*transition: background 150ms ease-in;*/
					}
					
					#fpBody .btnIncDec {
						height: 24px;
						width: 24px;
						color: var(--whiteGrey);
						background-color: var(--cyan); /*EKH blau*/
					}
					
					#fpBody .btnIncDec:disabled {
						border-style: inset;
						background-color:  #E0E0E0;
					}
					
				
				#btnWochenkalender,
				#calenderBtn,
				#triggerBtnTagbetrieb {
					height: 24px;
					width: 205px;
					color: var(--whiteGrey);
					background-color: hsl(194, 71%, 42%); /*EKH blau*/
				}
				#triggerBtnTagbetrieb.checked {
					background-color: hsl(194, 71%, 32%); /*EKH blau*/
				}

				.modalVisuBody [type="button"] {
					height: 50px;
					width: 50px;
					margin: 1px;
					margin-left: 0px;
					border-radius: 5px;
					border-width: 3px;
					/*background-color: white;*/
				}				
				
				/*.btnStopp:disabled,
				.btnAuto:disabled,
				.btnAutoNA:disabled,
				.btnHand:disabled,
				.btnHandEin:disabled,
				.btnHandAus:disabled,
				.btnHandAuf:disabled,
				.btnHandZu:disabled {
					border-style: inset;
					background-color:  #E0E0E0;
				}*/
				
				.modalVisuBody .checked {
					/*border: 3px inset;*/
					background-color:#C0C0C0; /*#E0E0E0*/
					border-style: inset;
				}
				
				/*.btnEinChecked,
				.btnDesinfChecked {
					border-style: inset;
					background: #E0E0E0 no-repeat center/90% url(/Images/FaceplateBtns/On.png);
				}
				
				.btnAusChecked {
					border-style: inset;
					background: #E0E0E0 no-repeat center/90% url(/Images/FaceplateBtns/Off.png);
				}*/				
				
				.btnStopp {
					background-repeat: no-repeat;
					background-position: center;
					background-size: contain; /*90%*/
					background-image: url(/Images/FaceplateBtns/Stopp.png);
				}

				.btnAuto {
					background-repeat: no-repeat;
					background-position: center;
					background-size: contain;
					background-image: url(/Images/FaceplateBtns/Auto.png);
				}

				.btnHand {
					background-repeat: no-repeat;
					background-position: center;
					background-size: contain;
					background-image: url(/Images/FaceplateBtns/Hand_inet.png);
				}

				.btnEin,
				.btnAuf {
					background-repeat: no-repeat;
					background-position: center;
					background-size: contain;
					background-image: url(/Images/FaceplateBtns/On.png);
				}
				
				.btnAus,
				.btnZu {
					background-repeat: no-repeat;
					background-position: center;
					background-size: contain;
					background-image: url(/Images/FaceplateBtns/Off.png);
				}

				.btnAutoNA {
					background-repeat: no-repeat;
					background-position: center;
					background-size: contain;
					background-image: url(/Images/FaceplateBtns/AutoNA.png);
					border-style: outset;
				}

				.btnHandNA {
					background-repeat: no-repeat;
					background-position: center;
					background-size: contain;
					background-image: url(/Images/FaceplateBtns/Hand_inetNA.png);
				}

				.btnHandEinNA,
				.btnHandAufNA {
					background-repeat: no-repeat;
					background-position: center;
					background-size: contain;
					background-image: url(/Images/FaceplateBtns/OnNA.png);
				}

				.btnHandAusNA,
				.btnHandZuNA {
					background-repeat: no-repeat;
					background-position: center;
					background-size: contain;
					background-image: url(/Images/FaceplateBtns/OffNA.png);
				}
				
				
			.modalVisuFooter {
				float: left;
				width: 100%;
				padding: 2px 16px;
				background-color: var(--cyan)/*#5cb85c*/;
				color: var(--whiteGrey);/* white;*/
			}