h5, h6 {				/*Für Sektorüberschriften Faceplate*/
	margin: 0px;
}

#visualisierungDisplay {
	overflow-x: hidden; /*canvas ragt über png in x-richtung hinaus-> scroll-x unterdrücken*/
}
	
	#vbtnVirtualKeyboard {
		position: absolute;
		top: 10vh;
		right: 6vh;
	}
	
	.btnToggleLock {
	  font-size: 3vh;
	  position: absolute;
	  top: 10vh;
	  right: 2vh;
	}
	
	.btnToggleLock:hover {
		cursor: pointer;
	}

	#btnUnlock {
	  color: #C31D64;
	}

	#btnLock {
	  display: none;
	  color: #1F94B9;
	}
	
	#lblPin {
	  display: inline-block;
	  width: 50px;
	  text-align: right;
	}
	
	#cbHidePin {
	  width: auto;
	  margin-left: 30px;
	  margin-right: 20px;
	}

	.vinsideWrapper
	{
		width: 1006px;/*1400px;/*100%;*/
		height: 660px;/*630px;*/
		position: relative;
		background-color: #C0C0C0; /*rgb(192, 192, 192);*/
		border-radius: .5em;
		/*border: 1px solid blue;*/
		left: 0px;
	}

		#vimgTarget /*.vcoveredImage*/
		{
			/*width: 100%;
			height: 100%;*/
			position: absolute;
			top: 0px;
			left: 0px;
			background-color: #C0C0C0; /*rgb(192, 192, 192);*/
			border-radius: .5em;
		}

		.vcoveringCanvas /*#vDynCanvas & #vStatCanvas*/
		{
			/*width: 139.3%; /*ursprünglich auf width: 1400px dimensioniert; 1400/1006px = 139,3%*/
			/*height: 95.5%; /*ursprünglich auf height: 630px dimensioniert;  630/ 660px =  95,5%*/
			position: absolute;
			top: 0px;
			left: 0px;
			background-color: rgba(0, 0, 0, 0);
			border-radius: .5em;
			/*border: 1px solid red;*/
			/*box-shadow: 5px 5px 5px #888888;*/
		}
		
		#vStatCanvas {
			/*background-color: yellow;
			opacity: 0.5;
			border: 1px solid yellow;*/
		}
		
		#vtipCanvas
		{
			background-color: #1F94B9; /*EKH blau*/
			color: #F1F1F1; /*rgb(241, 241, 241); white gray*/
			border: 1px solid #F1F1F1; /*rgb(241, 241, 241); white gray*/
			position: absolute;
			left: -2000px;
			top: 100px;
			/*width: 150px;
			height: 25px;*/
		}



	#vupdateStatus-bar
	{
		position: absolute;
		bottom: 1.8vh;
		/*width: inherit;/*1400px;*/
		height: 2rem;
		background-color: rgb(192, 192, 192);
		border-radius: .5em;
		/*border: 1px solid green;*/
		padding: 0.5rem;
		color: black;
		font-size: 1.8vh;
		font-family: Arial;
	}
	/*
	#vupdateStatus-info
	{
		font-size: 2vh;
	}*/

/*#settingFromVisuCanvas{
	margin-left: 80px;
}*/

		/* The Modal (background) */
	.modalEK {
		display: none; /* Hidden by default */
		position: fixed; /* Stay in place */
		z-index: 1; /* Sit on top */
		left: 10px;
		top: 10px;
		width: 100%; /* Full width */
		height: 100%; /* Full height */
		overflow: auto; /* Enable scroll if needed */
		background-color: rgb(0,0,0); /* Fallback color */
		background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
	}

			/* Modal Content/Box */
		.modal-content {
			background-color: #F1F1F1; /*rgb(241, 241, 241); white gray*/
			margin: 10px; /* 15% from the top and centered */
			padding: 20px;
			border: 1px solid #C0C0C0; /*rgb(192, 192, 192);*/
			border-radius: .5em;
			width: 20%; /* Could be more or less, depending on screen size */
		}

			.modal-header {
				/*font-size: 28px;*/
				font-weight: bold;
				padding: 2px 12px;
				background-color: #C31D64; /*EKH rot*/
				border-radius: .5em;
				color: #F1F1F1; /*rgb(241, 241, 241); white gray*/
				text-align:center;
			}
			
			#modalHeaderZaehler {
				background-color: #1F94B9; /*EKH blau*/				
			}

				/* The Close Button */
				.close {
					color: #F1F1F1; /*rgb(241, 241, 241); white gray*/
					float: right;
					font-size: 28px;
					font-weight: bold;
				}
				.close:hover,
				.close:focus {
					color: #C0C0C0; /*rgb(192, 192, 192);*/
					text-decoration: none;
					cursor: pointer;
				} 


			.modal-body {
				font-size: 16px;
				width: 100%; /* Full width */
				height: 100%; /* Full height */
			}

			.datepicker {
				z-index: 10 !important;
				width:auto;
			}
			
			#btnCopyClip {
				width: 200px;
				background-color:aquamarine;
			}
			
			
	/* Modal Pin/FP (background) */
	.modalVisuBg {
	  display: none; /* Hidden by default */
	  position: fixed; /* Stay in place */
	  z-index: 1; /* Sit on top */
	  /*padding-top: 100px; /* Location of the box */
	  left: 0;
	  top: 0;
	  width: 100%; /* Full width */
	  height: 100%; /* Full height */
	  overflow: auto; /* Enable scroll if needed */
	  background-color: rgb(0,0,0); /* Fallback color */
	  background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
	}
	
	/* Add Animation */
	@-webkit-keyframes animatetop {
	  from {top:-300px; opacity:0} 
	  to {top:0; opacity:1}
	}

	@keyframes animatetop {
	  from {top:-300px; opacity:0}
	  to {top:0; opacity:1}
	}


		/* Pin/FP Content */
		#Pin-content {
		  position: absolute;
		  top: 1vh;
		  right: 7vh;
		  width: 330px;
		}
		
		.modalVisuContent {
		  position: absolute;
		  top: 8vh;
		  background-color: #fefefe;
		  margin: auto;
		  padding: 0;
		  border: 1px solid #888;
		  width: 480px;   /*550px*/
		  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2),0 6px 20px 0 rgba(0,0,0,0.19);
		  -webkit-animation-name: animatetop;
		  -webkit-animation-duration: 0.4s;
		  animation-name: animatetop;
		  animation-duration: 0.4s
		}
		
		#wochenKalenderImVisuContent {
			width: auto;
		}
			
		
			.modalVisuContent button:hover {
			  cursor: pointer;
			}

			.modalVisuContent button:disabled {
			  cursor: default;
			}

		
			.modalVisuHeader {
			  text-align: center;
			  padding: 2px 16px;
			  background-color: #1F94B9/*#5cb85c*/;
			  color: #fefefe;/* white;*/
			}
			
				/* The Close Button */
				.close {
				  color: #fefefe;/* white;*/
				  float: right;
				  font-size: 28px;
				  font-weight: bold;
				}

				.close:hover,
				.close:focus {
				  /*color: black;*/
				  color: #C31D64;
				  text-decoration: none;
				  cursor: pointer;
				}
				
				
			.modalVisuBody {
			  padding: 2px 13px;  
			}
			
			#wochenKalenderImVisuBody {
				padding: 0px;
				background-color: #E0E0E0;
			}				
				
				.modalVisuBody .lblName,
				.modalVisuBody .lblNameFaceplate {
				  display: inline-block;
				  width: 235px;
				  text-align: right;
				  margin-right: 5px;
				}

				.modalVisuBody .lblUnit,
				.modalVisuBody .lblUnitFaceplate {
				  display: inline-block;
				  width: 55px;
				  text-align: left;
				  margin-left: 5px;
				}

				.modalVisuBody /*select,*/ input /*[type="text"]*/ {
				  width: 152px;
				  margin: 1px 0px;
				  /*background-color: #fefefe;*/
				}
				
				#btnWochenkalender {
					height: 24px;
					width: 152px;
					/*background-color: #fefefe;*/
					color: #fefefe;
					background-color: #1F94B9; /*EKH blau*/
				}

				.modalVisuBody [type="button"] {
				  height: 50px;
				  width: 50px;
				  margin: 1px;
				  margin-left: 0px;
				}
				
				.btnStopp:disabled,
				.btnAuto:disabled,
				.btnAutoNA:disabled,
				.btnHand:disabled,
				.btnHandEin:disabled,
				.btnHandAus:disabled,
				.btnHandAuf:disabled,
				.btnHandZu:disabled {
				  /*border-color: red;*/
				  border-style: inset;
				  background-color:  #E0E0E0;
				}
				
				.btnEinChecked,
				.btnDesinfChecked {
				  border-style: inset;
				  background: #E0E0E0 no-repeat center/90% url(/Images/FaceplateBtns/On.png);
				}
				
				.btnAusChecked {
				  border-style: inset;
				  background: #E0E0E0 no-repeat center/90% url(/Images/FaceplateBtns/Off.png);
				}				
				
				.btnStopp {
				  background: no-repeat center/90% url(/Images/FaceplateBtns/Stopp.png);
				}

				.btnAuto {
				  background: no-repeat center/90% url(/Images/FaceplateBtns/Auto.png);
				}

				.btnHand {
				  background: no-repeat center/70% url(/Images/FaceplateBtns/Hand_inet.png);
				}

				.btnHandEin,
				.btnHandAuf,
				.btnEin,
				.btnDesinf {
				  background: no-repeat center/90% url(/Images/FaceplateBtns/On.png);
				}
				
				.btnHandAus,
				.btnHandZu,
				.btnAus {
				  background: no-repeat center/90% url(/Images/FaceplateBtns/Off.png);
				}

				.btnAutoNA {
				  background: no-repeat center/90% url(/Images/FaceplateBtns/AutoNA.png);
				  border-style: outset;
				}

				.btnHandNA {
				  background: no-repeat center/70% url(/Images/FaceplateBtns/Hand_inetNA.png);
				}

				.btnHandEinNA,
				.btnHandAufNA {
				  background: no-repeat center/90% url(/Images/FaceplateBtns/OnNA.png);
				}

				.btnHandAusNA,
				.btnHandZuNA {
				  background: no-repeat center/90% url(/Images/FaceplateBtns/OffNA.png);
				}
				
				
			.modalVisuFooter {
			  padding: 2px 16px;
			  background-color: #1F94B9/*#5cb85c*/;
			  color: #fefefe;/* white;*/
			}

		

		
		

		

		

		